module.exports = {
    "database" : {
        "username": process.env.databaseuser || "",
        "password": process.env.databasepassword || "",
        "port": process.env.databaseport || "",
        "uri": process.env.databaseuri || "",
        "collection": process.env.databasecollection || ""
    },
    "passport" : {
        "google" : {
            "clientId": process.env.googleclientid || "",
            "clientSecret": process.env.googleclientsecret || ""
        }
    },
    "application" : {
        "protocol": process.env.applicationprotocol || "http",
        "hostname" : process.env.applicationhostname || "",
        "port": process.env.applicationport
    },
    "analytics" : {
        "google" : {
            "trackingId": process.env.googletrackingid || ""
        }
    },
    "sessionSecret" : process.env.sessionsecret || "test"
};