extends base

block styles
    link(rel='stylesheet', href='/public/draw/leaflet.draw.css')
    link(rel='stylesheet', href='/public/easy-button/easy-button.css')

block fistContent
    section
        .page_container
            div(style="height: 100%;")
                #map
block content
    .ui.header Legend
    table.ui.celled.table
        thead
            tr
                th Color
                th Localization
        tbody(id="localizationList")
block scripts
    script(type="text/javascript", src="https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.js")
    script(type="text/javascript", src="/public/draw/leaflet.draw.js")
    script(type="text/javascript", src="/public/underscore.js")
    script(type="text/javascript", src="/public/easy-button/easy-button.js")
    script(type="text/javascript", src="/public/utilities.js")
    script(type="text/javascript", src="/public/editor.js")
    script().
        var localizations = initializeLocalizations(!{JSON.stringify(localizations)});
        localizationsTable(localizations);
        renderMap('#{iid}');
        writeMapId('#{iid}');