extends base

block preStyles
    link(rel='stylesheet', href='/public/leaflet/style.css')
    link(rel='stylesheet', href='/public/draw/leaflet.draw.css')
    link(rel='stylesheet', href='/public/easy-button/easy-button.css')
    

block fistContent
    section
        .page_container
            div(style="height: 100%; border-bottom: 1px solid gray;")
                #map
block content
    #spacedText
        .ui.header Legend
        table.ui.celled.table
            thead
                tr
                    th Color
                    th Localization
            tbody(id="localizationList")
    #title
        a(href="/") CellMap
block scripts
    script(type="text/javascript", src="/public/leaflet/script.js")
    script(type="text/javascript", src="/public/draw/leaflet.draw.js")
    script(type="text/javascript", src="/public/underscore.js")
    script(type="text/javascript", src="/public/easy-button/easy-button.js")
    script(type="text/javascript", src="/public/utilities.js")
    script(type="text/javascript", src="/public/editor.js")
    script().
        var localizations = initializeLocalizations(!{JSON.stringify(localizations)});
        localizationsTable(localizations);
        renderMap('#{iid}');
        writeMapId('#{iid}');