extends base

block content
 .ui.header Images
 .ui.attached.segment
    .ui.header Upload a new image
    form(action="/images", method="post", enctype="multipart/form-data").ui.form
        input(type="file", name="image", placeholder="/path/to/img.png")
        button(type="submit").ui.green.button Submit
 if images
     .ui.attached.segment
         .ui.fluid.cards
            - each img in images
                .card
                    .image
                        img(src="/images/#{img._id}")
                    .extra.content
                        .ui.three.buttons
                            a(href="/map/#{img._id}").ui.basic.blue.button View
                            a(href="/editor/#{img._id}").ui.basic.green.button Modify
                            .ui.basic.red.button Delete