html
  head
    title= title
    link(rel='stylesheet', href='https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.css')
  body
    div.
        Test
    scirpt(src='https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.js')