extends base

block content
    div(style="z-index:999999").ui.fluid.input.search
        input(type="text", name="prot", id="prot", placeholder="Search protein").prompt
        .results
    #map
block scripts
    script(type="text/javascript", src="https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.js")
    script(type="text/javascript", src="/public/underscore.js")
    script(type="text/javascript", src="/public/map.js")
    script().
        renderMap('#{iid}');