extends base

block content
    #full
        if displayName
            span
                | Hello,&nbsp;
                a(href="/auth/logout", data-content="Click to logout").item.green #{displayName}
                | .
        else
            span
                | Hello,&nbsp;
                a(href="/auth/google", data-content="Click to login").item.green User
                | .
        br
        br
        span
            a(href="/maps").item View the maps
            |  or&nbsp;
            .ui.label.locButton(data-content="This button becomes active when filtering for a specific sub-cellular compartment.")
            | &nbsp;
            .ui.input.search
                input(type="text", name="prot", placeholder="search protein (uniprot)").prompt.inline
        .space
        .grid

        .space.space
        h5 Step-by-step how to & preferred citation:
        p Dallago C, Goldberg T, Andrade-Navarro MA et al. Visualizing Human Protein‐Protein Interactions and Subcellular Localizations on Cell Images Through CellMap. Current Protocols in Bioinformatics 2020, (
            a(href="https://doi.org/10.1002/cpbi.97", target="_blank", rel="author") https://doi.org/10.1002/cpbi.97
            | )
        h5 Proof of concept paper:
        p Dallago C, Goldberg T, Andrade-Navarro MA et al. CellMap visualizes protein-protein interactions and subcellular localization [version 2; peer review: 2 approved]. F1000Research 2018, 6:1824 (
            a(href="https://doi.org/10.12688/f1000research.12707.2", target="_blank", rel="author") https://doi.org/10.12688/f1000research.12707.2
            | )


    #title
        a(href="/") CellMap
        
block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/isotope/isotope.js")
    script(type="text/javascript", src="/public/isotope/packery.js")
    script(type="text/javascript", src="/public/utilities.js")
    script().
        var localizations = initializeLocalizations(!{JSON.stringify(localizations)});
    if proteins
        script().    
            var queryProteins = !{JSON.stringify(proteins)};
    script(type="text/javascript", src="/public/search.js")