extends base

block content
    #full
        if displayName
            span
                | Hello,&nbsp;
                a(href="/auth/logout", data-content="Click to logout").item.green #{displayName}
                | .
        else
            span
                | Hello,&nbsp;
                a(href="/auth/google", data-content="Click to login").item.green User
                | .
        br
        br
        span
            a(href="/maps").item View the maps
            |  or&nbsp;
            .ui.label.locButton(data-content="This button becomes active when filtering for a specific sub-cellular compartment.")
            | &nbsp;
            .ui.input.search
                input(type="text", name="prot", placeholder="search protein (uniprot)").prompt.inline
        .space
        .grid

    #title
        a(href="/") CellMap
        
block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/isotope/isotope.js")
    script(type="text/javascript", src="/public/isotope/packery.js")
    script(type="text/javascript", src="/public/utilities.js")
    script().
        var localizations = initializeLocalizations(!{JSON.stringify(localizations)});
    if proteins
        script().    
            var queryProteins = !{JSON.stringify(proteins)};
    script(type="text/javascript", src="/public/search.js")