extends base

block content
    #spacedText
        .ui.label.locButton
        .ui.input.search
            input(type="text", name="prot", placeholder="Search protein").prompt.inline
        .space
        .grid
            //- UI is confusing
                .grid-item(style="opacity:.5; border-style: dashed;")
                    p Protein 1
                .grid-item(style="opacity:.5; border-style: dashed;")
                    p Protein 2
                .grid-item(style="opacity:.5; border-style: dashed;")
                    p Protein 3
                .grid-item(style="opacity:.5; border-style: dashed;")
                    p Protein 4
                .grid-item(style="opacity:.5; border-style: dashed;")
                    p Protein 5
                .grid-item(style="opacity:.5; border-style: dashed;")
                    p Protein 6
                .grid-item(style="opacity:.5; border-style: dashed;")
                    p Protein 7
                .grid-item(style="opacity:.5; border-style: dashed;")
                    p Protein 8
    #title
        a(href="/") CellMap
        
block scripts
    - var delta = 50
    script(type="text/javascript", src="/public/isotope/isotope.js")
    script(type="text/javascript", src="/public/isotope/packery.js")
    script(type="text/javascript", src="/public/utilities.js")
    script().
        var localizations = initializeLocalizations(!{JSON.stringify(localizations)});
    if proteins
        script().    
            var queryProteins = !{JSON.stringify(proteins)};
    script(type="text/javascript", src="/public/search.js")